.pytest_cache
.git
dist
__pycache__/
*.py[cod]
*.egg-info
MUJOCO_LOG.TXT
;
out/
wandb/
todo.md
*.code-workspace
.ipynb_checkpoints/
**/*.ipynb
*pkl
*swp
.mypy_cache
figs/
results/
data/
VLN_CE/
habitat_lab/
